{% extends 'index.html'%}

{% block content %}
<div class="pagetitle">
    <h1>Información de Gimnasios</h1>
</div>

<section class="section">
    <div class="row">
      <div class="col-lg-12">

        <div class="card">
          <div class="card-body">
            <h5 class="card-title">Registro</h5>

            <form class="row g-3 needs-validation" method="POST" action="/gym/save" novalidate>
                <div class="col-md-6">
                    <label for="validationCustom02" class="form-label">Nombre del Gimnasio</label>
                    <input type="text" class="form-control" name="nom" required>
                </div>

                <div class="col-md-6">  
                    <label for="desc" class="form-label">Descripción del Gimnasio</label>
                    <textarea class="form-control" style="height: 30px" name="desc" required></textarea>
                </div>

                <div class="col-md-6">
                    <label for="validationCustom01" class="form-label">Latitud</label>
                    <input type="number" step="0.0000001" class="form-control" name="lat" required>
                </div>

                <div class="col-md-6">
                    <label for="validationCustom02" class="form-label">Longitud</label>
                    <input type="number" step="0.0000001" class="form-control" name="long" required>
                </div>

                <div class="col-md-6">
                    <label for="validationCustom02" class="form-label">Número de Estrellas</label>
                    <input type="number" step="1" min="0" class="form-control" name="nroStars" required>
                </div>
                
                <div class="form-inline">
                    <div class="col-sm-6">
                        <button class="btn btn-success rounded-pill" type="submit">Guardar</button>
                    </div>

                    <div class="col-sm-6">
                        <a href="/gym/list" class="btn btn-danger rounded-pill">Cancelar</a>
                    </div> 
                </div>
            </form>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock %}
