<!DOCTYPE html>
<html>
<head>
    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.9.3/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@6.2.0/css/all.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_87fe99887ae004f5fd6a9cce6e2c0163 {
                    position: relative;
                    width: 100.0%;
                    height: 100.0%;
                    left: 0.0%;
                    top: 0.0%;
                }
                .leaflet-container { font-size: 1rem; }
            </style>
        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/leaflet.markercluster.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/leaflet.markercluster/1.1.0/MarkerCluster.Default.css"/>
</head>
<body>
    
    
            <div class="folium-map" id="map_87fe99887ae004f5fd6a9cce6e2c0163" ></div>
        
</body>
<script>
    
    
            var map_87fe99887ae004f5fd6a9cce6e2c0163 = L.map(
                "map_87fe99887ae004f5fd6a9cce6e2c0163",
                {
                    center: [-4.0024294, -79.2017861],
                    crs: L.CRS.EPSG3857,
                    ...{
  "zoom": 15,
  "zoomControl": true,
  "preferCanvas": false,
}

                }
            );

            

        
    
            var tile_layer_6de86a6008d46051a986f83f935179df = L.tileLayer(
                "https://tile.openstreetmap.org/{z}/{x}/{y}.png",
                {
  "minZoom": 0,
  "maxZoom": 19,
  "maxNativeZoom": 19,
  "noWrap": false,
  "attribution": "\u0026copy; \u003ca href=\"https://www.openstreetmap.org/copyright\"\u003eOpenStreetMap\u003c/a\u003e contributors",
  "subdomains": "abc",
  "detectRetina": false,
  "tms": false,
  "opacity": 1,
}

            );
        
    
            tile_layer_6de86a6008d46051a986f83f935179df.addTo(map_87fe99887ae004f5fd6a9cce6e2c0163);
        
    
            var marker_cluster_3c56a4894075e27e698fc174dc3e7468 = L.markerClusterGroup(
                {
}
            );
        
    
            var marker_a28a23a96d8bcedaa60863acbc592ec6 = L.marker(
                [-4.0024294, -79.2017861],
                {
}
            ).addTo(marker_cluster_3c56a4894075e27e698fc174dc3e7468);
        
    
        var popup_ae72d4035c8ca1c62b6925fa4fd0e3d8 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_0df80ef28e03255f7bae689309683ba7 = $(`<div id="html_0df80ef28e03255f7bae689309683ba7" style="width: 100.0%; height: 100.0%;">         <b>Leader Gym</b><br>         ¡El mejor gimnasio de la ciudad!<br>         Latitud: -4.0024294, Longitud: -79.2017861<br>Rating: 5.0         </div>`)[0];
                popup_ae72d4035c8ca1c62b6925fa4fd0e3d8.setContent(html_0df80ef28e03255f7bae689309683ba7);
            
        

        marker_a28a23a96d8bcedaa60863acbc592ec6.bindPopup(popup_ae72d4035c8ca1c62b6925fa4fd0e3d8)
        ;

        
    
    
            marker_a28a23a96d8bcedaa60863acbc592ec6.bindTooltip(
                `<div>
                     Leader Gym
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_70fdea341bb070b11f3124de4af778b9 = L.marker(
                [-3.9976132, -79.1991058],
                {
}
            ).addTo(marker_cluster_3c56a4894075e27e698fc174dc3e7468);
        
    
        var popup_292767cfcf954f2a7fcab6260b8ccaba = L.popup({
  "maxWidth": 300,
});

        
            
                var html_a2d54626b2420e377ad8f70f99f81033 = $(`<div id="html_a2d54626b2420e377ad8f70f99f81033" style="width: 100.0%; height: 100.0%;">         <b>Arnold Gym</b><br>         Eterno padre de los gimnasios de Loja<br>         Latitud: -3.9976132, Longitud: -79.1991058<br>Rating: 4.8         </div>`)[0];
                popup_292767cfcf954f2a7fcab6260b8ccaba.setContent(html_a2d54626b2420e377ad8f70f99f81033);
            
        

        marker_70fdea341bb070b11f3124de4af778b9.bindPopup(popup_292767cfcf954f2a7fcab6260b8ccaba)
        ;

        
    
    
            marker_70fdea341bb070b11f3124de4af778b9.bindTooltip(
                `<div>
                     Arnold Gym
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_2ce53e5943a109e6a3a3c08a308cdec4 = L.marker(
                [-4.0096479, -79.2029454],
                {
}
            ).addTo(marker_cluster_3c56a4894075e27e698fc174dc3e7468);
        
    
        var popup_49119bb02c715792cccea86ff4ecbfc7 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_0fa1fbc39de33c1a337897643fb22f1d = $(`<div id="html_0fa1fbc39de33c1a337897643fb22f1d" style="width: 100.0%; height: 100.0%;">         <b>Total Flex Gym</b><br>         ¡El gimnasio más grande de la ciudad!<br>         Latitud: -4.0096479, Longitud: -79.2029454<br>Rating: 4.7         </div>`)[0];
                popup_49119bb02c715792cccea86ff4ecbfc7.setContent(html_0fa1fbc39de33c1a337897643fb22f1d);
            
        

        marker_2ce53e5943a109e6a3a3c08a308cdec4.bindPopup(popup_49119bb02c715792cccea86ff4ecbfc7)
        ;

        
    
    
            marker_2ce53e5943a109e6a3a3c08a308cdec4.bindTooltip(
                `<div>
                     Total Flex Gym
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_154927b97660a294e8050dbe6c4f528d = L.marker(
                [-3.9806503, -79.2026513],
                {
}
            ).addTo(marker_cluster_3c56a4894075e27e698fc174dc3e7468);
        
    
        var popup_5dcaedb8182fa89a0067225f0d63e7db = L.popup({
  "maxWidth": 300,
});

        
            
                var html_c44bd4fd7ab8585f36f157ee02a0bf17 = $(`<div id="html_c44bd4fd7ab8585f36f157ee02a0bf17" style="width: 100.0%; height: 100.0%;">         <b>Equilibrium Club</b><br>         El gimnasio más caro que conozco<br>         Latitud: -3.9806503, Longitud: -79.2026513<br>Rating: 3.0         </div>`)[0];
                popup_5dcaedb8182fa89a0067225f0d63e7db.setContent(html_c44bd4fd7ab8585f36f157ee02a0bf17);
            
        

        marker_154927b97660a294e8050dbe6c4f528d.bindPopup(popup_5dcaedb8182fa89a0067225f0d63e7db)
        ;

        
    
    
            marker_154927b97660a294e8050dbe6c4f528d.bindTooltip(
                `<div>
                     Equilibrium Club
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_278bb45f4e317e7a8f4df8f618a7ea4b = L.marker(
                [-3.9934129, -79.2053176],
                {
}
            ).addTo(marker_cluster_3c56a4894075e27e698fc174dc3e7468);
        
    
        var popup_73739837ba2d4f4431488ee11f8bf9e3 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_39231f34abe335911b3139cddf625a86 = $(`<div id="html_39231f34abe335911b3139cddf625a86" style="width: 100.0%; height: 100.0%;">         <b>JS Fitness Center</b><br>         Nunca he ido xd<br>         Latitud: -3.9934129, Longitud: -79.2053176<br>Rating: 4.7         </div>`)[0];
                popup_73739837ba2d4f4431488ee11f8bf9e3.setContent(html_39231f34abe335911b3139cddf625a86);
            
        

        marker_278bb45f4e317e7a8f4df8f618a7ea4b.bindPopup(popup_73739837ba2d4f4431488ee11f8bf9e3)
        ;

        
    
    
            marker_278bb45f4e317e7a8f4df8f618a7ea4b.bindTooltip(
                `<div>
                     JS Fitness Center
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_50f8d43b0128cee4303dd1575bb2ee77 = L.marker(
                [-4.032669, -79.2032395],
                {
}
            ).addTo(marker_cluster_3c56a4894075e27e698fc174dc3e7468);
        
    
        var popup_c2e7c5772a27fafb4e92555c44bdb692 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_0b37d1c5614386a5516af159eab4ec8b = $(`<div id="html_0b37d1c5614386a5516af159eab4ec8b" style="width: 100.0%; height: 100.0%;">         <b>Titanus Fitness Sur</b><br>         Solo fui una vez, ta bien<br>         Latitud: -4.032669, Longitud: -79.2032395<br>Rating: 4.9         </div>`)[0];
                popup_c2e7c5772a27fafb4e92555c44bdb692.setContent(html_0b37d1c5614386a5516af159eab4ec8b);
            
        

        marker_50f8d43b0128cee4303dd1575bb2ee77.bindPopup(popup_c2e7c5772a27fafb4e92555c44bdb692)
        ;

        
    
    
            marker_50f8d43b0128cee4303dd1575bb2ee77.bindTooltip(
                `<div>
                     Titanus Fitness Sur
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            var marker_ae14fec602422b6f749e1e665b2f1dd7 = L.marker(
                [-3.9937509, -79.1998474],
                {
}
            ).addTo(marker_cluster_3c56a4894075e27e698fc174dc3e7468);
        
    
        var popup_219050573afde9e103fd53686dc26c09 = L.popup({
  "maxWidth": 300,
});

        
            
                var html_a91c629a05d4069a1ca94c194d90ceba = $(`<div id="html_a91c629a05d4069a1ca94c194d90ceba" style="width: 100.0%; height: 100.0%;">         <b>Titanus Fitness Centro</b><br>         Aqui levanté mancuernas de 60lbs en press de banca inclinado, buen gimnasio<br>         Latitud: -3.9937509, Longitud: -79.1998474<br>Rating: 4.9         </div>`)[0];
                popup_219050573afde9e103fd53686dc26c09.setContent(html_a91c629a05d4069a1ca94c194d90ceba);
            
        

        marker_ae14fec602422b6f749e1e665b2f1dd7.bindPopup(popup_219050573afde9e103fd53686dc26c09)
        ;

        
    
    
            marker_ae14fec602422b6f749e1e665b2f1dd7.bindTooltip(
                `<div>
                     Titanus Fitness Centro
                 </div>`,
                {
  "sticky": true,
}
            );
        
    
            marker_cluster_3c56a4894075e27e698fc174dc3e7468.addTo(map_87fe99887ae004f5fd6a9cce6e2c0163);
        
</script>
</html>