{% extends 'index.html' %}

{% block content %}
<section class="section">
    <div class="row">
      <div class="col-lg-12">
        <div class="card">
          <div class="card-body">
            <h5 class="card-title">¡Bienvenido a su sistema estimado usuario!</h5>
            En este sistema de gestión, usted podrá acceder a funcionalidades como:
              <ul>
                <li>Registrar, modificar y eliminar gimnasios.</li>
                <li>Consultar información de gimnasios.</li>
                <li>Visualizar las rutas hacia los gimnasios.</li>
              </ul>
            ¡Gracias por utilizar nuestro sistema!
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}